@font-face {
    font-family: Glacial Indifference;
    src: url('fonts/GlacialIndifference-Regular.otf');
}

body {
    margin: 0;

    background-color: #fff;

    font-size: 0;

    animation: fadeIn 300ms ease-in-out;

    overflow-x: hidden;
}

a {
    color: inherit;

    font-style: italic;
    text-decoration: none;
}

/* Hero */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(0, #444, #555);
}

.hero > .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("backgrounds/background-home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.hero > .header {
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;

    font-family: Glacial Indifference, sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.hero > .header > div:last-of-type {
    font-size: 40px;
}

.hero > .scrollDown {
    position: absolute;
    left: calc(50% - 30px);
    bottom: 0;
    height: 50px;

    transform: rotate(-1deg);
}

/* PANELS */
.panels {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.panels > .panel {
    position: relative;
    min-height: calc(100vh - 100px);
    padding: 50px;

    color: #333;
}

.panels > .portfolio {
    text-align: center;

    background-image: url("backgrounds/background-portfolio.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.panels > .socials {
    padding: 10px;
    min-height: auto;
    text-align: center;

    background-color: #222;

    box-shadow: 0 0 30px rgba(0, 0, 0, .2);

    z-index: 9;
}

.panels > .footer {
    min-height: auto;

    color: #fff;
    background-color: #222;
}

.panel > .content {
    position: relative;
}

/* PORTFOLIO */
.project {
    position: relative;
    display: inline-block;
    width: 70%;
    min-width: 550px;
    margin: 10px 0 50px 0;
    text-align: center;
}

.project > .pictures {
    position: relative;

    background-color: #eee;

    border-radius: 5px;
    white-space: nowrap;

    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.project > .pictures:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.project > .pictures > div {
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    padding-bottom: 57%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 0 30px rgba(0, 0, 0, .1);

    transition: all 300ms ease-in-out;
    z-index: 2;
}

.project > .pictures.one > div {
    width: 100%;
}

.project > .pictures.two > div {
    width: 50%;
}

.project > .pictures.four > div {
    width: 25%;
}

.project > .pictures.mac > div {
    padding-bottom: 58.75%;
}

.project > .pictures > div:hover {
    width: 100%;

    box-shadow: 0 0 0;
}

.project > .pictures > div:first-of-type {
    background-position: left;

    z-index: 3;
}

.project > .pictures > div:last-of-type {
    background-position: right;

    z-index: 1;
}

.project > .pictures:hover > div:not(:hover) {
    width: 0%;

    box-shadow: 0 0 0;
}

.project > .label {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;

    color: #fff;
    background-color: #333;

    font-family: Glacial Indifference, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

/* SOCIALS */
.socials > a {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

.socials > a > div {
    position: relative;
    padding: 15px;
}

.socials > a > div > img {
    position: relative;
    width: 20px;
}

/* FOOTER */
.text {
    margin: 20px 0;
    text-align: left;

    font-family: Glacial Indifference, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.text.light {
    font-size: 14px;
}


@media (max-width: 1280px)
{
    .hero > .background {
        background-image: url("backgrounds/background-home-tablet.svg");
    }
}

@media (max-width: 640px)
{
    .hero > .background {
        background-image: url("backgrounds/background-home-mobile.svg");
    }

    .hero > .header {
        font-size: 30px;
    }

    .hero > .header > div:last-of-type {
        font-size: 20px;
    }

    /* Panels */
    .panels > .panel {
        padding: 10px;
    }

    .panels > .fullHeight {
        height: calc(100vh - 20px);
    }

    /* Portfolio */
    .project {
        width: 100%;
        min-width: auto;
    }

    .project > .label {
        padding: 15px;

        font-size: 12px;
    }
}
